<!-- <form [formGroup]="userdetails">
  <label>
    Name
    </label>
 <input type="text" formControlName="name"><br><br>
  <label>
    Email
    </label>
 <input type="text" formControlName="email"><br><br>
<div>
  <input type="radio" formControlName="gender" value="male">Male
  <input type="radio"  formControlName="gender" value="female">Female
  </div><br>

  <div formArrayName="favfood">
    <div fromGroupName="0">
     <input type="checkbox" formControlName="india">India
     </div>

     <div fromGroupName="1">
  <input type="checkbox"  formControlName="chinese">Chinese
  </div>
    </div><br>
 <button (click)="submitvalue()">Submit</button>
      {{formArrayName.value |json}}
  </form> -->

  <p>hema</p>